<router-outlet></router-outlet>
<br>
<br>
<app-registrazione *ngIf= "!registrazioneVisible" (reg) = "registra($event)"></app-registrazione>
<br>
<br>
{{risposta}}
<br>
<br>
<div *ngIf= "chatVisible">
    <app-messaggio [messaggio] = "messaggio" (mess) = "inviaTutti($event)"></app-messaggio>
    <br>
    <br>
    <app-tab-contatti [contatti] = "contatti" (inv) = "invia($event)"></app-tab-contatti>
    <br>
    <br>
    <app-tab-messaggi [messaggi] = "messaggi" (chat)= "aggiorna($event)"></app-tab-messaggi>
</div>